@use "../_layout/vars" as vars;
@use "../_layout/mixins" as mixin;

.navbar {
  width: 100vw;
  @include mixin.flex(space-between, center, row);
  padding: 1rem 8rem;
  background-color: vars.$white;
  position: relative;

  @include mixin.media(){
    padding: 1rem;
  }

  &__figure {
    width: 5rem;
  }

  &__ul {
    @include mixin.flex(space-between, center, row);

    @include mixin.media(){
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      @include mixin.flex(space-between, flex-start, column);
    }
  }

  &__li {
    &:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &__a {
    font-size: 0.8rem;
    color: map-get(vars.$violes, "grayish");
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
    transition: .4s;

    &:hover{
      color: map-get(vars.$violes, "dark");
    }

  }

  &__menu{
    display: none;
    width: fit-content;
    font-size: 2rem;
    border: 1px solid vars.$black;
    padding: .2rem;
    @include mixin.media(){
      display: block;
    }
  }
}
