
$white: hsl(0, 0%, 100%);
$black: hsl(0,0%,0%);
$fontHeading:'DM Serif Display', serif;
$fontBody: 'Karla', sans-serif;
$blue: hsl(216, 30%, 68%);


$violes:(
   "grayish":  hsl(273, 4%, 51%),
   "dark": hsl(256, 26%, 20%),
   "veryDark" :hsl(270, 9%, 17%)
)